# Files to Focus On
business.json: Contains business details, including categories and attributes.<br>
review.json: Includes user reviews and ratings.<br>
checkin.json: Provides check-in data indicating business popularity over time.

In [19]:
import pandas as pd
import json

# Load User data
with open('yelp_academic_dataset_user.json', 'r', encoding='utf-8') as f:
    user_data = [json.loads(line) for line in f]
user_df = pd.DataFrame(user_data)

# Load Tip data
with open('yelp_academic_dataset_tip.json', 'r', encoding='utf-8') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

# Load business data
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

# Load review data
with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
    review_data = [json.loads(line) for line in f]
review_df = pd.DataFrame(review_data)

# Load check-in data
with open('yelp_academic_dataset_checkin.json', 'r', encoding='utf-8') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

In [20]:
# Display data samples and summary info with break lines
def explore_and_clean(df, df_name):
    print(f"Exploring {df_name} DataFrame")
    print("-" * 50)
    
    # DataFrame info
    print("Info:")
    print(df.info())
    print("\n" + "-" * 50)
    
    # Summary statistics for numeric columns
    print("Summary statistics:")
    print(df.describe())
    print("\n" + "-" * 50)
    
    # Check for missing values
    print("Missing values:")
    print(df.isnull().sum())
    print("\n" + "=" * 50)
    
    # Drop rows with missing values and confirm
    df_cleaned = df.dropna()
    print(f"After removing rows with missing values, {df_name} has {df_cleaned.shape[0]} rows remaining.")
    print("\n" + "=" * 50)
    
    return df_cleaned

# Explore and clean each DataFrame
user_df_clean = explore_and_clean(user_df, "User")
tip_df_clean = explore_and_clean(tip_df, "Tip")
business_df_clean = explore_and_clean(business_df, "Business")
review_df_clean = explore_and_clean(review_df, "Review")
checkin_df_clean = explore_and_clean(checkin_df, "Check-in")

Exploring Business DataFrame
--------------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB
None

--------------------------------------------------
Summary statistics:
       review_count        useful         funny          cool          fans  \
count  1.987897e+06  1.987897e+06  1.987897e+06  1.987897e+06  1.987897e+06
mean   2.339441e+01  4.229634e+01  1.697054e+01  2.379291e+01  1.465740e+00
std    8.256699e+01  6.414806e+02  4.078034e+02  5.653513e+02  1.813075e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    5.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    1.700000e+01  1.300000e+01  2.000000e+00  3.000000e+00  0.000000e+00
max    1.747300e+04  2.062960e+05  1.858230e+05  1.998780e+05  1.249700e+04

       average_stars  compliment_hot  compliment_more  compliment_profile  \
count   1.987897e+06    1.987897e+06     1.987897e+06        1.987897e+06
mean    3.630494e+00    1.807072e+00     2.922631e-01        1.793176e-01
std     1.183337e+00    7.360184e+01     1.282467e+01        1.515525e+01
min     1.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00
25%     3.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00
50%     3.880000e+00    0.000000e+00     0.000000e+00        0.000000e+00
75%     4.560000e+00    0.000000e+00     0.000000e+00        0.000000e+00
max     5.000000e+00    2.578400e+04     1.350100e+04        1.418000e+04

       compliment_cute  compliment_list  compliment_note  compliment_plain  \
count     1.987897e+06     1.987897e+06     1.987897e+06      1.987897e+06
mean      1.336493e-01     6.390723e-02     1.443135e+00      3.011841e+00
std       1.135682e+01     1.004363e+01     6.016790e+01      1.193898e+02
min       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
25%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
50%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
75%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
max       1.365400e+04     1.266900e+04     5.903100e+04      1.010970e+05

       compliment_cool  compliment_funny  compliment_writer  compliment_photos
count     1.987897e+06      1.987897e+06       1.987897e+06       1.987897e+06
mean      2.829308e+00      2.829308e+00       1.056448e+00       1.226859e+00
std       9.666385e+01      9.666385e+01       3.217973e+01       9.515751e+01
min       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
25%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
50%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
75%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
max       4.996700e+04      4.996700e+04       1.593400e+04       8.263000e+04

--------------------------------------------------
Missing values:
user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

==================================================
After removing rows with missing values, Business has 1987897 rows remaining.

==================================================
Exploring Review DataFrame
--------------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  object
 4   compliment_count  908915 non-null  int64
dtypes: int64(1), object(4)
memory usage: 34.7+ MB
None

--------------------------------------------------
Summary statistics:
       compliment_count
count     908915.000000
mean           0.012525
std            0.120763
min            0.000000
25%            0.000000
50%            0.000000
75%            0.000000
max            6.000000

--------------------------------------------------
Missing values:
user_id             0
business_id         0
text                0
date                0
compliment_count    0
dtype: int64

==================================================
After removing rows with missing values, Review has 908915 rows remaining.

==================================================
Exploring Business DataFrame
--------------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB
None

--------------------------------------------------
Summary statistics:
            latitude      longitude          stars   review_count  \
count  150346.000000  150346.000000  150346.000000  150346.000000
mean       36.671150     -89.357339       3.596724      44.866561
std         5.872759      14.918502       0.974421     121.120136
min        27.555127    -120.095137       1.000000       5.000000
25%        32.187293     -90.357810       3.000000       8.000000
50%        38.777413     -86.121179       3.500000      15.000000
75%        39.954036     -75.421542       4.500000      37.000000
max        53.679197     -73.200457       5.000000    7568.000000

            is_open
count  150346.00000
mean        0.79615
std         0.40286
min         0.00000
25%         1.00000
50%         1.00000
75%         1.00000
max         1.00000

--------------------------------------------------
Missing values:
business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      13744
categories        103
hours           23223
dtype: int64

==================================================
After removing rows with missing values, Business has 117618 rows remaining.

==================================================
Exploring Review DataFrame
--------------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB
None

--------------------------------------------------
Summary statistics:
              stars        useful         funny          cool
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02

--------------------------------------------------
Missing values:
review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

==================================================
After removing rows with missing values, Review has 6990280 rows remaining.

==================================================
Exploring Check-in DataFrame
--------------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB
None

--------------------------------------------------
Summary statistics:
                   business_id  \
count                   131930
unique                  131930
top     ---kPU91CF4Lq2-WlRu9Lw
freq                         1

                                                     date
count                                              131930
unique                                             131930
top     2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
freq                                                    1

--------------------------------------------------
Missing values:
business_id    0
date           0
dtype: int64

==================================================
After removing rows with missing values, Check-in has 131930 rows remaining.

==================================================